.card-img-top {
  width: 100%;  /* Width of the image will occupy 100% of the card width */
  height: 200px; /* Height is fixed to 200px */
  object-fit: cover; /* The image will be resized to cover the entire content box, potentially stretching the image or leaving some space */
}
.card {
  height: 500px; /* Height is fixed to 500px */
  object-fit: cover; /* The card will be resized to cover the entire content box */
}